@charset "UTF-8";

@font-face {
    font-family: 'ModernPictogramsNormal';
    src: url('fonts/modernpics-webfont.eot');
    src: url('fonts/modernpics-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/modernpics-webfont.woff') format('woff'),
         url('fonts/modernpics-webfont.ttf') format('truetype'),
         url('fonts/modernpics-webfont.svg#ModernPictograms tNormal') format('svg');
    font-weight: normal;
    font-style: normal;
	}


/*---------------------Careers Style-------------------------- */
#cr3ativcareer_contentwrapper h2 {
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    line-height: 1.8em;
    margin-bottom: 20px;
}
.cr3ativcareer_clear {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	width:100%;
	}	
.cr3ativcareer_clearbig {
	clear: both;
	display: block;
	font-size: 0;
	height: 40px;
	line-height: 0;
	width:100%;
	}
#cr3ativcareer_contentwrapper {
	width:100%;
	}
#cr3ativcareer_contentwrapper p {
	margin-bottom: 20px;
    line-height: 1.6em;
	}
.cr3ativcareer_content_wrapper {
	margin:0 auto;
	}	
.cr3ativcareer_left_content {
	float:left;
	width:67%;
    margin-top: 20px;
	}
.cr3ativcareer_left_content ol, .cr3ativcareer_left_content ul {
    margin: 20px 0;
    clear: both;
}
.cr3ativcareer_left_content ul {
    list-style: disc inside none;
}
.cr3ativcareer_left_content ol {
    list-style: decimal inside none;
}
.cr3ativcareer_left_content ol, .cr3ativcareer_left_content ul {
    line-height: 1.6em;
}
.cr3ativcareer_blog_wrapper h5, .cr3ativcareer_blog_wrapper h5 a {
    font-size: 22px;
    font-weight: 400;
    text-decoration: none;
    line-height: 1.8em;
    margin-bottom: 10px;
}
.cr3ativcareer_blog_wrapper h1, .cr3ativcareer_blog_wrapper h1 a {
    font-size: 28px;
    font-weight: 400;
    text-decoration: none;
    line-height: 1.8em;
    margin-bottom: 10px;
}
.cr3ativcareer_blog_wrapper h5 a:hover {
    text-decoration: none;
}
.cr3ativcareer_right_content {
	float:right;
	width:25%;
	padding:20px;
	background-color:#f8f8f8;
    margin-top: 20px;
	}
.cr3ativcareer_post_details {
	border-top:1px solid #dddddd;
	border-bottom:1px solid #dddddd;
	min-height:37px;
	}
.cr3ativcareer_post_date {
	border-right:1px solid #dddddd;
	color:#888888;
	font-size:13px;
	float:left;
	padding:11px 15px 13px 10px;
	}
.cr3ativcareer_post_date2 {
	border-right:1px solid #dddddd;
	color:#888888;
	font-size:13px;
	float:left;
	padding:13px 15px 11px 10px;
	}
.cr3ativcareer_post_date a {
	font-size:13px;
	}
.cr3ativcareer_post_read_more, .cr3ativcareer_post_read_more a {
	font-size:13px;
    text-decoration: none;
	float:left;
	padding-left:10px;
}	
.cr3ativcareer_post_read_more a {
	margin-top:11px;
	font-size:13px;
	}
.cr3ativcareer_post_read_more a:hover {
	text-decoration:none;
	}
.cr3ativcareer_post_read_more a img {
	width:15px;
	margin-left:10px;
	margin-top:-2px;
	}
.cr3ativcareer_career_print {
	color:#383838;
	font-size:13px;
	float:left;
	padding-left:20px;
	padding-top: 13px;
	}
.cr3ativcareer_career_print a {
	margin-left: 25px;
	font-size:13px;
    text-decoration:none;
	}
.cr3ativcareer_career_print:before {
	content: "d";
    font-family: 'ModernPictogramsNormal';
    font-size: 20px;
    position: absolute;
	color:#888888;
    margin-top: -2px;
	}
.cr3ativcareer_pdf_download {
	font-size:13px;
	float:left;
	padding-left:20px;
	padding-top: 13px;
	}
.cr3ativcareer_pdf_download a {
	margin-left: 20px;
	font-size:13px;
    text-decoration:none;
	}
.cr3ativcareer_pdf_download:before {
	content: "D";
    font-family: 'ModernPictogramsNormal';
    font-size: 20px;
    position: absolute;
	color:#888888;
	margin-top: -2px;
	}
.cr3ativcareer_career_split {
	border-right: 1px solid #D4D4D4;
	width: 20px;
	float: left;
	height: 37px;
	}
.cr3ativcareer_blog_wrapper {
	margin-bottom:40px;
	float:left;
	width:100%;
	}	
.cr3ativcareer_read_more p a.more-link {
	display:none;
	}
	
.cr3ativcareer_widget li h3, .cr3ativcareer_widget li h3 a {
	font-size:18px;
	margin:30px 0 15px 0;
    font-weight: 400;
    text-decoration: none;
	}
.cr3ativcareer_widget li h3 a:hover {
    text-decoration: none;
}
.cr3ativcareer_widget li {
	font-size:12px;
	margin-bottom:10px;
    line-height: 1.4em;
	}
.cr3ativcareer_right_content h5 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 60px;
}
.cr3ativcareer_right_content h5:first-child {
    font-size: 20px;
    font-weight: 400;
    margin-top: 0px;
}
.space {
    clear: both;
    height: 40px;
}
/*  START OF MEDIA QUERIES */

 @media only screen and (max-width: 800px) {
	.embed-container {
		position: relative;
		padding-bottom: 52.25%; /* 16/9 ratio */
		padding-top: 30px; /* IE6 workaround*/
		height: 0;
		overflow: hidden;
		}

	.embed-container iframe,
	.embed-container object,
	.embed-container embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		}
	
	img {
		max-width:100%;
		height:auto;
		}
	
	img {
		-ms-interpolation-mode:bicubic;
		}  
	
	.cr3ativcareer_content_wrapper  {
		width:95%;
		padding:0;
		}
	.cr3ativcareer_left_content, .cr3ativcareer_right_content {
		float:left;
		width:100%;
		clear:both;
		}
}
 @media only screen and (max-width: 640px) {
		
}
 @media only screen and (max-width: 480px) {	

}
 @media only screen and (max-width: 320px) {

}

/*  END OF MEDIA QUERIES */